venv
.vscode
__pycache__
tmp
node_modules
.next
dist

res/*
!res/.gitkeep
!res/sounds
res/sounds/*
!res/sounds/.gitkeep
!res/filters

lib/server/conf.json
lib/gui/.tkn
lib/gui/.key

build/
figaro.spec
static/
