@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #0B3954;
    color: #EEF1FF;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    -webkit-user-select: none;

    #___gatsby {
        width: 100%;
        height: 100%;

        & > div {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: stretch;
        }
    }
}